@import "_variable";
@import "_reset";
@import "_mixins";

/***************************/
/**********CLEARFIX**********/
/***************************/
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*************************************/
/**************GENERAL****************/
/*************************************/
html{
  position: relative;
}

body{
  margin: 0;
  /*background-image: url('../images/bg-body.jpg');*/
  font-family: 'Roboto', sans-serif;
  padding-bottom: 30px;
  overflow-x: hidden;
}

textarea{
  resize: none;
}

a{
  text-decoration: none;
  color: black;
}

.content{
  width: 97%;
  margin: 30px auto 0;
  background-color: #fff;
  position: relative;
}

.showPhone{
  display: none;
}

.title{
  font-size: 30px;
  color: #474646;
  font-weight: 900;
}

.bloc{
  height: 500px;
}


.btnBleu{
  background-color: #084797;
  border: 2px solid #084797;
  outline: none;
  color: #fff;
  font-size: 15px;
  padding: 8px 50px;
  margin-top: 70px;
  cursor: pointer;
}

.btnBleu:hover{
  background-color: transparent;
}

.bg-noir{
  background-color: rgba(0,0,0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 20;
  display: none;
}

/************************************/
/**************HEADER****************/
/************************************/
.header{
  background-color: #3ca968;
  height: 60px;
  width: 100%;
  z-index: 10;
}

.header .content-logo{
  float: left;
  margin: 18px 20px 0;
}

.header .content-logo .logo{
  width: 40px;
  float: left;
}

.header .content-logo .logoGrey{
  display: none;
}

.header .content-logo p{
  float: left;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  margin: 5px 15px 0;
}

.header nav{
  float: right;
}

.header nav ul li{
  float: left;
  text-align: center;
  padding: 22px 20px 19px;
}

.header nav ul li a{
  color: #fff;
  font-size: 14px;
  padding-bottom: 20px;
  font-weight: 300;
}

.header nav ul li:hover a{
  text-shadow: 1px 0 #fff;
}

.header nav ul li:hover {
  border-bottom: 3px solid #35965c;
}

.header nav ul li.don{
  background-color: #35965c;
  padding: 22px 25px 22px;
}

.header nav ul li.don:hover{
  border-bottom: none;
}

/********************************************/
/**************BLOC PARALLAXE****************/
/********************************************/
.parallaxe .visible{
  height: 600px;
  background-color: #3ca968;
  position: relative;
}

.parallaxe .visible .textblock{
  width: 50%;
  padding-left: 130px;
  z-index: 2;
  float: left;
  margin-top: 120px;
}

.parallaxe .visible .textblock p{
  color: #fff;
}

.parallaxe .visible .textblock p.discover{
  font-size: 40px;
  font-weight: 900;
  line-height: 45px;
}

.parallaxe .visible .textblock p.description{
  font-size: 15px;
  line-height: 25px;
  margin-top: 15px;
  font-weight: 300;
}

.parallaxe .visible .content-img{
  width: 40%;
  height: 100%;
  position: relative;
  background-image: url('../images/paysage-banniere.png');
  background-repeat: no-repeat;
  background-position: center;
  float: right;
}

.parallaxe .visible img.sansEau1{
  position: absolute;
  bottom: 0;
  max-height: 90%;
}

.parallaxe .visible img.herbe{
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*PARTIE CACHEE*/
.parallaxe .cache{
  height: 400px;
  background-color: lightcoral;
  display: none;
}

/**********************************************/
/**************BLOC ASSOCIATION****************/
/**********************************************/
.association{
  width: 100%;
  margin-top: 105px;
}

.association .content-association{
  width: 80%;
  margin: 0 auto;
  border-left: 5px solid #004499;
}

.association p.title{
  padding-left: 10%;
  line-height: 40px;
}

.association .content-association p.description{
  font-size: 15px;
  color: #474646;
  width: 80%;
  padding-left: 30px;
  margin-top: 40px;
  line-height: 30px;
  font-weight: 100;
}

.association .words{
  width: 100%;
  height: 385px;
  margin-top: 110px;
  position: relative;
  overflow-x: hidden;
}

.association .words p.entire{
  color: #f8faf9;
  font-size: 220px;
  font-weight: 900;
  margin-left: -25px;
}

.association .words .right{
  width: 50%;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
}

.association .words .right p{
  color: #004499;
  font-weight: 900;
}

.association .words .right p.one{
  font-size: 35px;
  margin-left: 15%;
}

.association .words .right p.two{
  font-size: 25px;
  margin-left: 35%;
  margin-top: 30px;
}

.association .words .right p.three{
  font-size: 30px;
  margin-left: 5%;
  margin-top: 10px;
}

.association .words .right p.four{
  font-size: 30px;
  margin-left: 30%;
  margin-top: 30px;
}

/*******************************************/
/**************BLOC APPROCHE****************/
/*******************************************/
.approche{
  width: 100%;
  background-image: url('../images/bg-approche.png');
  background-repeat: no-repeat;
  background-position-y: center;
  padding-bottom: 135px;
}

.approche .content-approche{
  width: 90%;
  margin: 0 auto;
}

.approche p.subtitle{
  font-size: 25px;
  color: #474646;
  font-weight: 900;
}

.approche p.description{
  width: 80%;
}

.approche .left,
.approche .right{
  width: 50%;
}

.approche .left{
  float: left;
}

.approche .left .title{
  line-height: 50px;
}

.approche .left .trait-jaune{
  width: 60px;
  background-color: #eebc37;
  height: 5px;
  margin-top: 45px;
}

.approche .left .textblock{
  margin-top: 340px;
}

.approche .left .textblock .description,
.approche .right .textblock .description{
  margin-top: 75px;
  font-weight: 100;
  font-size: 15px;
  line-height: 30px;
}

.approche .right{
  float: right;
}

.approche .right .textblock1{
  margin-top: 130px;
}

.approche .right img.enfant{
  margin-top: 145px;
  width: 100%;
}

.approche .right .textblock2{
  margin-top: 155px;
}

.approche .right .textblock2 p.description{
  margin-top: 70px;
}


/****************************************/
/**************BLOC CROWD****************/
/****************************************/
.crowd{
  width: 100%;
  background-color: #eebc37;
  position: relative;
  padding-bottom: 80px;
  overflow: hidden;
}

.crowd .left,
.crowd .right{
  width: 50%;
  position: relative;
  z-index: 2;
}

.crowd .left{
  float: left;
}

.crowd .right{
  float: right;
}

.crowd .left .textblock,
.crowd .right .textblock{
  margin-top: 115px;
  color: #fff;
}

.crowd .left .textblock {
  margin-left: 10%;
}

.crowd .left .textblock p.title{
  color: #fff;
  font-weight: 900;
}

.crowd .left .textblock button{
  margin-top: 35px;
}

.crowd .left .textblock button:hover{
  color: #084797;
}

.crowd .right .textblock{
  width: 80%;
}

.crowd .right .textblock p.blockTitle{
  font-size: 20px;
  font-weight: 900;
}

.crowd .right .textblock p.contenu{
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 40px;
}

.crowd p.somme{
  font-size: 200px;
  color: #f4c23b;
  font-weight: 900;
  position: absolute;
  bottom: -45px;
  left: -30px;
}

/*******************************************/
/**************BLOC OBJECTIF****************/
/*******************************************/
.objectif{
  width: 100%;
  margin-top: 60px;
}

.objectif .imgDon{
  width: 100%;
}

.objectif .content-objectif{
  width: 90%;
  margin: 130px auto 0;
}

.objectif .content-objectif .left{
  width: 45%;
  float: left;
}

.objectif .content-objectif .left p.objectifMois{
  color: #e74c38;
  font-size: 20;
  font-weight: 900;
}

.objectif .content-objectif .left p.title{
  margin-top: 5px;
}

.objectif .content-objectif .left p.subtitle{
  font-size: 20px;
  font-weight: 900;
  padding-top: 40px;
  border-right: 5px solid #e74c38;
  color: #474646;
}

.objectif .content-objectif .left p.description{
  font-size: 15px;
  font-weight: 300;
  color: #838383;
  line-height: 30px;
  width: 70%;
  margin-top: 85px;
}

.objectif .content-objectif .right{
  width: 55%;
  float: right;
}

.objectif .content-objectif .right .textblock{
  width: 80%;
  margin: 80px auto 0;
}

.objectif .content-objectif .right .text{
  margin-top: 70px;
}

.objectif .content-objectif .right .text span{
  color: #e74c38;
  font-size: 20px;
  font-weight: 900;
}

.objectif .content-objectif .right .text p{
  color: #474646;
  font-size: 25px;
  font-weight: 900;
  margin-top: 5px;
  line-height: 40px;
}

/*****************************************/
/**************BLOC EQUIPE****************/
/*****************************************/
.equipe{
  width: 100%;
  position: relative;
  margin-top: 175px;
  padding-bottom: 20px;
  overflow-x: hidden;
}

.equipe .wordEquipe{
  font-size: 270px;
  color: #f8f8f8;
  font-weight: 900;
  position: absolute;
  top: 195px;
  right: -60px;
}

.equipe .content-equipe{
  width: 90%;
  margin: 0 auto;
}

.equipe p.title{
  line-height: 50px;
  font-weight: 900;
}

.equipe p.title span{
  color: #e74c38;
}

.equipe .bx-viewport{
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-top: 45px;
  overflow-x: hidden;
}

.equipe .bx-controls-direction{
  position: absolute;
  right: 0;
  margin-top: 50px;
}

.equipe .bx-controls-direction a{
  text-indent: 0;
  font-size: 18px;
  color: #474646;
  font-weight: 900;
}

.equipe .bx-controls-direction .bx-prev{
  padding-right: 17px;
}

.equipe .bx-controls-direction .bx-next{
  border-left: 2px solid #e6e6e8;
  padding-left: 15px;
}

.equipe .bx-wrapper .bx-pager{
  position: absolute;
  top: 140px;
  left: -45px;
}

.equipe .bx-wrapper .bx-pager.bx-default-pager a{
  width: 8px;
  height: 8px;
  background-color: #C6C6C6;
}

.equipe .bx-wrapper .bx-pager.bx-default-pager a.active{
  background-color: #474646;
}

.equipe .bx-wrapper .bx-pager .bx-pager-item,
.equipe .bx-wrapper .bx-controls-auto .bx-controls-auto-item{
  margin-top: 5px;
}

.equipe ul li .left{
  float: left;
  width: 35%;
}

.equipe ul li .left img{
  width: 70%;
  margin-top: 30px;
}

.equipe ul li .right{
  float: right;
  width: 65%;
}

.equipe ul li .right .textblock{
  width: 85%;
}

.equipe ul li .right .textblock .leftBorder{
  border-left: 5px solid #e74c38;
  padding: 0 60px 30px;
  margin-top: 105px;
}

.equipe ul li .right .textblock .leftBorder p.name{
  font-size: 30px;
  color: #474646;
  font-weight: 900;
}

.equipe ul li .right .textblock .leftBorder p.role{
  font-size: 20px;
  color: #313131;
  font-weight: 900;
  margin-top: 40px;
}

.equipe ul li .right .textblock .leftBorder p.parcours{
  font-size: 15px;
  color: #313131;
  font-weight: 300;
  margin-top: 20px;
}

.equipe ul li .right .textblock p.participation{
  font-size: 15px;
  color: #313131;
  font-weight: 300;
  margin-top: 20px;
  line-height: 28px;
  padding-left: 70px;
}

/********************************************/
/**************BLOC ACTUALITES***************/
/********************************************/
.actualites{
  width: 100%;
  margin-top: 205px;
  position: relative;
}

.actualites .content-actu{
  width: 90%;
  margin: 0 auto;
}

.actualites .content-actu .title{
  border-left: 5px solid #3ca968;
  padding-left: 30px;
  padding-bottom: 20px;
}

.actualites .content-actu .all-img{
  margin-top: 30px;
}

.actualites .content-actu .all-img .content-img{
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
  float: left;
  width: 30%;
  margin-left: 3%;
}

.actualites .content-actu .all-img .content-img img{
  width: 100%;
}

.actualites .content-actu .all-img .content-img:hover .cache{
  display: block;
}

.actualites .content-actu .all-img .cache{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(75,164,107, 0.7);
  align-items: center;
  display: none;
}

.actualites .content-actu .all-img .cache .textblock{
  margin-left: 7%;
  position: absolute;
  bottom: 20px;
}

.actualites .content-actu .all-img .cache .titre{
  font-size: 26px;
  color: #333333;
  font-weight: 900;
  background-color: #fff;
  margin-top: 5px;
  padding: 8px;
  line-height: 22px;
  display: inline-block;
}

.actualites .content-actu .all-img .cache p.date{
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 10px;
}

.actualites .content-actu .all-img .cache p.lire{
  font-size: 15px;
  font-weight: 900;
  color: #fff;
}


/*****************************************/
/**************MODALES ACTU***************/
/*****************************************/
.modale-actu{
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  position: absolute;
  top: 5%;
  left: -100%;
  margin-left: -50%;
  z-index: 21;
  padding-bottom: 145px;
  /*display: none;*/
}

.modale-actu .close{
  text-align: right;
  font-size: 25px;
  color: #aeaeae;
  font-weight: 100;
  margin: 30px 30px 0;
  cursor: pointer;
}

.modale-actu .content-modale{
  width: 90%;
  margin: 30px auto 0;
}

.modale-actu .content-modale img{
  width: 70%;
}

.modale-actu .content-modale .textblock{
  margin-top: 110px;
}

.modale-actu .content-modale .textblock p.date{
  font-size: 15px;
  color: #373737;
}

.modale-actu .content-modale .textblock p.title{
  margin-top: 45px;
}

.modale-actu .content-modale .textblock p.article{
  font-size: 15px;
  color: #868686;
  line-height: 30px;
  font-weight: 100;
  margin-top: 55px;
}

/*****************************************/
/**************BLOC CONTACT***************/
/*****************************************/

.screen-reader-response{
  display: none !important;
}
.wpcf7-not-valid-tip{
  margin-top: 3px;
  font-size: 11px;
  font-weight: 900;
  color: red;
}
.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
  font-size: 11px;
  color: green;
  font-weight: 900;
}
.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
  margin-top: 3px;
  font-size: 11px;
  font-weight: 900;
  color: red;
}
.contact{
  width: 100%;
  padding-bottom: 190px;
  margin-top: 95px;
}

.contact .content-contact{
  width: 60%;
  margin-left: 5%;
}

.contact .content-contact p.title{
  font-weight: 900;
}

.contact .content-contact form input[type=text],
.contact .content-contact form input[type=email],
.contact .content-contact form textarea{
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  font-size: 20px;
  color: #474646;
  font-weight: 900;
}

.contact .content-contact form input[type=text]::-moz-placeholder,
.contact .content-contact form input[type=email]::-moz-placeholder,
.contact .content-contact form textarea::-moz-placeholder{
  font-size: 20px;
  color: #474646;
  font-weight: 900;
}

.contact .content-contact form input[type=text]::-webkit-input-placeholder,
.contact .content-contact form input[type=email]::-webkit-input-placeholder,
.contact .content-contact form textarea::-webkit-input-placeholder{
  font-size: 18px;
  color: #474646;
  font-weight: 900;
}

.contact .content-contact form textarea::-moz-placeholder{
  line-height: 135px;
}

.contact .content-contact form textarea::-webkit-input-placeholder{
  line-height: 135px;
}

.contact .content-contact form textarea{
  position: relative;
}

.contact .content-contact form input[name=name]{
  margin-top: 110px;
}

.contact .content-contact form input[name=email]{
  margin-top: 60px;
}

.contact .content-contact form textarea[name=message]{
  margin-top: 60px;
  padding-bottom: 0;
  height: 100px;
}

.contact .content-contact form input[type=text]:focus::-webkit-input-placeholder,
.contact .content-contact form input[type=email]:focus::-webkit-input-placeholder,
.contact .content-contact form textarea:focus::-webkit-input-placeholder{
  color: transparent;
}

.contact .content-contact form input[type=text]:focus:-moz-placeholder,
.contact .content-contact form input[type=email]:focus:-moz-placeholder,
.contact .content-contact form textarea:focus:-moz-placeholder{
  color: transparent;
}

.contact .content-contact form input[type=submit]{
  margin-top: 70px;
  padding: 7px 50px;
}

.contact .content-contact form input[type=submit]:hover{
  color: #084797;
}


/***********************************/
/**************FOOTER***************/
/***********************************/
.footer{
  width: 100%;
  color: #474747;
}

.footer .content-footer{
  width: 90%;
  margin: 0 auto;
}

.footer p.title{
  font-size: 30px;
  font-weight: 900;
}

.footer .left{
  float: left;
  width: 50%;
}

.footer .left .content-img{
  width: 190px;
  margin: 35px 15px 0;
}

.footer .left .content-img a.attineos{
  float: left;
}

.footer .left .content-img a.digitalVillage{
  float: right;
}

.footer .left .content-img a.supMontpellier img{
  margin: 40px auto 0;
  display: block;
}

.footer .right{
  float: right;
  width: 50%;
}

.footer .right .follow{
  width: 40%;
  float: left;
  padding-right: 50px;
  text-align: right;
}

.footer .right .follow .reseaux{
  margin-top: 55px;
}

.footer .right .follow .reseaux a{
  display: block;
  color: #004499;
  text-decoration: underline;
  line-height: 30px;
  font-weight: 900;
  font-size: 18px;
}

.footer .right .infos{
  width: 59%;
  border-left: 2px solid #e9e9e9;
  float: right;
  padding-left: 48px;
  padding-bottom: 15px;
}

.footer .right .infos ul{
  margin-top: 55px;
}

.footer .right .infos ul li{
  font-size: 18px;
  font-weight: 900;
  line-height: 35px;
}

.footer .copyright{
  text-align: center;
  font-size: 12px;
  clear: both;
  padding: 50px 0;
}

/*****************************************/
/****************RESPONSIVE***************/
/*****************************************/
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation:landscape){
  .actualites .content-actu .all-img .cache {
    display: flex;
  }

  .header .content-logo p{
    display: none;
  }

  .parallaxe .visible img.sansEau1{
    left: 50%;
    margin-left: -62px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation:portrait){
  .parallaxe .visible .textblock{
    margin-top: 110px!important;
  }

  .actualites .content-actu .all-img .content-img{
    width: 30%!important;
  }

  .approche{
    margin-top: 100px;
    background-image: url('../images/bg-approche.png')!important;
    background-position-y: 240px;
    padding-bottom: 75px;
  }
}

@media screen and (max-width: 768px){
  .showPhone{
    display: block;
  }

  .showDesktop{
    display: none
  }

  .content {
    margin: 15px auto 0;
  }

  /******************************************/
  /****************MENU BURGER***************/
  /******************************************/
  .headerMob{
    height: 50px;
    background-color: #fff;
    z-index: 10;
  }

  img.menu-burger{
    width: 30px;
    margin-left: 10px;
  }

  img.closeIcon{
    width: 20px;
  }

  .burgerMenu{
    background-color: #fff;
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
  }

  .active{
    display: block;
    width: 103%;
    margin-left: -1.5%;
    margin-top: -15px;
  }

  .burgerMenu ul{
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    display: none;
  }

  .burgerMenu ul li{
    text-align: left;
    font-size: 25px;
    cursor: pointer;
    margin-top: 20px;
    border-bottom: 1px solid #3CA968;
    padding-bottom: 10px;
    padding-top: 20px;
    font-weight: 900;
  }

  .iconBurger{
    width: 30px;
    margin-left: 10px;
    padding-top: 8px;
    position: relative;
    z-index: 3;
    cursor: pointer;
  }

  .iconBurger .one.open{
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: 7px;
  }

  .iconBurger .two.open{
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .iconBurger .three.open{
    display: none;
  }

  .iconBurger div{
    width: 100%;
    height: 4px;
    margin-top: 6.5px;
    background-color: #3ca968;
  }

  .iconBurger div:first-child{
    margin-top: 0;
  }

  /****************************************/
  /****************PARALLAXE***************/
  /****************************************/
  .parallaxe .visible{
    height: 500px;
  }

  .parallaxe .visible .textblock{
    width: 90%;
    padding-left: 30px;
    margin-top: 80px;
  }

  .parallaxe .visible .textblock p.discover{
    font-size: 25px;
    line-height: 30px;
  }

  .parallaxe .visible .textblock p.description{
    width: 80%;
  }

  .parallaxe .visible .textblock .btnBleu{
    width: 70%;
  }

  .parallaxe .visible .content-img{
    width: 20%;
    background-image: none;
    right: 10px;
    bottom: 0;
    position: absolute;
  }

  /******************************************/
  /****************ASSOCIATION***************/
  /******************************************/
  .association .content-association {
    width: 92%;
  }

  .association .content-association p.description {
    width: 100%;
  }

  .title{
    font-size: 25px;
  }

  .association .content-association p.title{
    line-height: 40px;
  }

  .association .content-association p.description{
    margin-top: 25px;
    font-weight: 300;
  }

  /***************************************/
  /****************APPROCHE***************/
  /***************************************/
  .approche{
    margin-top: 100px;
    background-image: none;
    padding-bottom: 75px;
  }

  .approche .content-approche .left,
  .approche .content-approche .right{
    float: none;
    width: 100%;
  }

  .approche .left .trait-jaune{
    margin-top: 25px;
  }

  .approche .left .textblock{
    margin-top: 70px;
  }

  .approche p.subtitle{
    font-size: 20px;
  }

  .approche .left .textblock .description,
  .approche .right .textblock .description{
    margin-top: 25px;
  }

  .approche .right .textblock1{
    margin-top: 75px;
  }

  .approche .right img.enfant{
    margin-top: 65px;
  }

  .approche .right .textblock2{
    margin-top: 75px;
  }

  .approche .right .textblock2 p.description{
    margin-top: 25px;
  }

  /************************************/
  /****************CROWD***************/
  /************************************/
  .crowd{
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .crowd .left,
  .crowd .right{
    float: none;
    width: 100%;
  }

  .crowd .left .textblock{
    margin-top: 50px;
  }

  .crowd .right .textblock{
    margin-top: 50px;
    margin-left: 10%;
  }

  .crowd .right .textblock p.contenu{
    margin-top: 20px;
  }

  .crowd .btnBleu.showPhone{
    margin: 20px auto 0;
  }

  /***************************************/
  /****************OBJECTIF***************/
  /***************************************/
  .objectif .content-objectif{
    margin: 90px auto 0;
  }
  .objectif .content-objectif .left,
  .objectif .content-objectif .right{
    float: none;
    width: 100%;
  }

  .objectif .content-objectif .left p.subtitle{
    border-right: none;
  }

  .objectif .content-objectif .left p.subtitle{
    padding-top: 30px;
  }

  .objectif .content-objectif .left p.description{
    margin-top: 55px;
  }

  .objectif .content-objectif .right .textblock{
    width: 100%;
    text-align: right;
  }

  .objectif .content-objectif .right .text p{
    font-size: 18px;
    line-height: 30px;
  }

  /*************************************/
  /****************EQUIPE***************/
  /*************************************/
  .equipe{
    margin-top: 120px;
    padding-bottom: 40px;
  }

  .equipe p.title{
    line-height: 40px;
  }

  .equipe ul li .left,
  .equipe ul li .right{
    float: none;
    width: 100%;
  }

  .equipe ul li .left{
    width: 50%;
    margin: 0 auto;
  }

  .equipe ul li .left img {
    width: 80%;
    margin: 0 auto;
  }

  .equipe ul li .right .textblock{
    width: 100%;
  }

  .equipe ul li .right .textblock .leftBorder {
    padding: 45px 40px 30px;
    margin-top: 30px;
    margin-left: 2px;
  }

  .equipe ul li .right .textblock .leftBorder p.name{
    font-size: 25px;
  }

  .equipe ul li .right .textblock .leftBorder p.role{
    font-size: 20px;
    margin-top: 25px;
    line-height: 22px;
  }

  .equipe ul li .right .textblock .leftBorder p.parcours{
    font-size: 15px;
    line-height: 22px;
  }

  .equipe ul li .right .textblock p.participation{
    padding-left: 50px;
  }

  .equipe .bx-controls-direction {
    left: 50%;
    margin-left: -108px;
    margin-top: 30px;
  }

  .equipe .bx-wrapper .bx-pager{
    bottom: -90px;
    left: 0;
    top: auto;
  }

  .equipe .bx-wrapper .bx-pager .bx-pager-item,
  .equipe .bx-wrapper .bx-controls-auto .bx-controls-auto-item{
    display: inline-block;
  }

  /*****************************************/
  /****************ACTUALITES***************/
  /*****************************************/
  .actualites{
    margin-top: 120px;
  }

  .actualites .content-actu{
    width: 95%;
  }

  .actualites .content-actu .all-img .content-img{
    width: 100%;
    margin-left: 0;
  }

  .actualites .content-actu .all-img .cache {
    display: flex;
  }

  .actualites .content-actu .all-img .cache .titre{
    font-size: 30px;
    padding: 10px 15px 10px 10px;
  }

  .actualites .content-actu .all-img .cache p.date{
    font-size: 15px;
    right: 10px;
    bottom: 10px;
  }

  /******************************************/
  /****************MODALE ACTU***************/
  /******************************************/
  .modale-actu .content-modale img{
    width: 100%;
  }

  .modale-actu .content-modale .textblock{
    margin-top: 50px;
  }

  .modale-actu .content-modale .textblock p.date{
    font-size: 12px;
  }

  .modale-actu .content-modale .textblock p.title{
    margin-top: 45px;
  }

  .modale-actu .content-modale .textblock p.article{
    margin-top: 15px;
  }

  /**************************************/
  /****************CONTACT***************/
  /**************************************/
  .contact{
    padding-bottom: 130px;
  }
  .contact .content-contact{
    width: 90%;
  }

  .contact .content-contact form input[name="name"]{
    margin-top: 50px;
  }

  /*************************************/
  /****************FOOTER***************/
  /*************************************/
  .footer .content-footer{
    width: 100%;
  }

  .footer p.title{
    padding-left: 30px;
  }

  .footer .left,
  .footer .right{
    float: none;
    width: 100%;
  }

  .footer .right .follow,
  .footer .right .infos{
    width: 100%;
  }

  .footer .left .content-img{
    margin: 40px auto 0;
  }

  .footer .right .follow{
    text-align: left;
    margin-top: 80px;
  }

  .footer .right .follow .reseaux{
    margin-top: 40px;
    padding-left: 30px;
  }

  .footer .right .follow .reseaux a{
    line-height: 27px;
    font-size: 15px;
  }

  .footer .right .infos{
    margin-top: 80px;
    border: none;
    padding-left: 0;
  }

  .footer .right .infos ul{
    margin-top: 40px;
    padding-left: 30px;
  }

  .footer .right .infos ul li{
    font-size: 15px;
    line-height: 32px;
  }
}
