body {
  height: 3000px;
}

.act_first {
  margin-top: 1000px;
  height: 300px;
  position: relative;
  display: block;
  .act_first_container {
    position: relative;
    .img--sun{
      width: 7%;
      position: absolute;
      bottom: 700px;
      z-index: 1;
    }
    .img--boy {
      width: 7%;
      position: absolute;
      bottom: 0;
      z-index: 1;
    }
    .img--bg {
      width: 150%;
      position: absolute;
      bottom: 0;
      z-index: 0;
    }
    .img--puit {
      width: 40%;
      left: 160%;
      position: absolute;
      bottom: 10px;
      opacity: 0;
      z-index: 1;
    }
    .img--worker {
      width: 7%;
      left: 160%;
      position: absolute;
      bottom: 10px;
      opacity: 1;
      z-index: 1;
    }
    .story-text--container{
      position: absolute;
      font-family: Arial;
      width:50%;
      box-sizing: border-box;
      color: #000;
      left:50%;
      bottom:700px;
      opacity: 0;
      z-index: 1;
      .number_holder{
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
      }
      .story_text {
        position: relative;
        top:5px;
        display: inline-block;
        font-size: 16px;
      }
    }
  }
}
